// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$cor-preta: #1a1b1f;

$cor-amarelo: #ffd24a;
$cor-amarelo-dourado: #7d5e00;
$cor-amarelo-escuro: #eebe2a;

$cor-azul: #256783;
