@use "../abstracts/" as *;

//**
// Basic typography style for copy text
//***

body {
  font-family: "Monserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $cor-preta;
}

b,
strong {
  font-weight: 600;
}

.titulo {
  @extend %titulo;
  font-weight: 500;

  & span {
    color: $cor-azul;
    font-weight: 600;
  }
}
